//all colors go here. more lfor colors, fonts, global varibales. not specific to the structure
$background-color: #cfe6e5; 
$work-section-color: #ffffff;
$font-color: #707070;
$hello-color: #DEBFBF; 
$font: "Segoe UI", Arial, sans-serif;
$rotate: rotate(-90deg);  
$box-width: 30%;
$box-height: 180px;
$box-float: left;

